@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: "Outfit", sans-serif;
    box-sizing: border-box;
    transition: all .5s;
}

h1 {
    font-size: calc(10vw - 3px);
}

h2 {
    font-size: calc(3vw - 1.2px);
    font-weight: 400;
    line-height: 120%;
}

.header {
    background-color: #fff;
    padding: 0px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    gap: 4px;
}

.menu li {
    list-style: none;
    display: flex;
    padding: 8px var(--espacements-12, 12px);
    justify-content: center;
    align-items: center;
}

.menu li a {
    color: var(--Gray-scale-700, #6B7F94);
    text-align: center;
    font-family: Outfit;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    text-decoration: none;
}

.menu li a:hover {
    color: var(--Gray-scale-950, #2C333A);
    animation-timing-function: ease-out;
    animation-duration: 400ms;

}

.contact-btn a span {
    color: var(--Gray-scale-950, #070707);
}

.menu-btn {
    background-color: transparent;
    border: none;
}

#hero-banner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--espacements-24, 24px);
    background: var(--Gray-scale-200, #DBE6EA);
}

.banner-content {
    background: var(--Gray-scale-200, #DBE6EA);
    display: flex;
    justify-content: space-between;
    padding: 48px 80px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 80px;
}



.heading-1 {
    color: var(--Black, #070707);
    font-weight: 400;
    line-height: 84%;
    letter-spacing: -2.88px;
}

.about-content {
    width: 58%;
    height: 100%;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    align-items: flex-start;
    gap: var(--espacements-80, 80px);


}

.about-content h2 {
    width: 100%;
    color: var(--Gray-scale-950, #2C333A);
    /* font-size: 32px;
    font-weight: 400; */
    line-height: 100%;
}

.scroll-down-btn {
    width: fit-content;
    display: flex;
    padding: 4px 0px;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.scroll-down-btn a {
    width: max-content;
    color: var(--Black, #070707);
    font-size: 32px;
    font-weight: 400;
    text-decoration: none;
    line-height: 24px;
}

.scroll-down-btn i {
    width: 24px;
    height: 24px;
}



/* MY WORKS SECTION START */

.my-works {
    background-color: #DBE6EA;
    border-bottom: 1px solid #C4D7DD;
}

.projects-content {
    padding: 0px 80px;
    display: flex;
    /* width: 100%; */
    flex-direction: column;
    align-items: flex-start;
}

.project-img {
    width: 100%;
}

.project-img>img {
    width: 100%;
    height: 520px;
    align-self: stretch;
}

.project-img>video {
    width: 100%;
    height: 648px;
    align-self: stretch;
}

.project1,
.project2,
.project3,
.project4 {
    width: 100%;
    padding-bottom: 48px;
}

.project-details {
    display: flex;
    /* padding: 8px 120px; */
    flex-direction: column;
    align-items: flex-start;
    gap: var(--espacements-8, 8px);
}

.project-name {
    display: inline-flex;
    padding: 4px 0px;
    align-items: center;
    gap: 12px;
    border-bottom: 1px solid transparent;
    transition: 0.2s all ease-out;
}

.project-name:hover {
    border-bottom: 1px solid var(--White, #070707);
}

.project-name h2 {
    color: var(--White, #070707);
    /* font-size: 32px;
    font-weight: 400;
    line-height: 120%; */
}

.project-name i {
    width: 48px;
    height: 48px;
}


.about-project h2 {
    color: var(--Gray-scale-500, #4C5863);
    font-family: Outfit;
    /* font-size: 32px;
    font-weight: 400; */
    line-height: 120%;
}

/* MY WORKS SECTION END */

.footer-content {
    background: var(--Gray-scale-200, #DBE6EA);
    display: flex;
    padding: 80px 80px 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    align-self: stretch;
}

.footer-heading-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--espacements-24, 24px);
    align-self: stretch;
}

.footer-heading-content h1 {
    color: var(--Black, #2C333A);
    font-size: calc(6vw - 6.4px);
    font-weight: 400;
    line-height: 100%;
}

/* .footer-heading-content .GIT-btn {
    display: flex;
    padding: 12px 0px;
    justify-content: center;
    align-items: center;
    gap: 12px;
} */

.footer-heading-content .GIT-btn a {
    color: var(--Black, #070707);
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 6vw;
    font-weight: 400;
    line-height: 100%;
    text-decoration: none;
    gap: 12px;
    border-bottom: 2px solid transparent;
    transition: 0.2s all ease-out;
}

.footer-heading-content .GIT-btn a:hover {
    border-bottom: 2px solid #070707;
}

.footer-heading-content .GIT-btn a i {
    width: 80px;
    height: 80px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.right-side-content {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.follow-links {
    display: flex;
    width: 158px;
    height: fit-content;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 12px;
}

.follow-links h5 {
    color: var(--Gray-scale-950, #2C333A);
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.follow-links h6 {
    color: var(--Black, #070707);
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.follow-links h6 a {
    color: var(--Black, #070707);
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    /* transition: 0.2s all ease-out; */
}

.link-border {
    transition: all 1s ease;
    text-decoration: 1px solid #DBE6EA;
}

.follow-links .link-border :hover {
    border-bottom: 1px solid #000;
    text-decoration: 1px solid #DBE6EA;
}

.left-side-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
}

.left-side-content {
    width: fit-content;
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    gap: 40px;
}






/* ABOUT-BANNER PAGE START */


#herobg {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.about-page {
    background-color: #fff;
}

.my-img {
    width: 100%;
    position: relative;
    height: 100vh;
    margin-top: -120px;
    /*background-image: url(./Images/tim-bogdanov-4uojMEdcwI8-unsplash.jpg);
     background-color: #04071D; 
    background-position: center;
    background-size: cover;
    background-position-x: center;*/
    /* background-position-y: bottom; */
}


/* ABOUT-BANNER PAGE END */

.experience {
    background-color: #EBF2F4;
    display: flex;
    padding: 64px 120px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.experience h2 {
    color: var(--Gray-scale-950, #2C333A);
    /* font-size: 40px;
    font-weight: 400; */
    line-height: 120%;
}

.experiences-info {
    display: flex;
    width: 820px;
    padding: 20px 0px;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid #ACC2CD; */
}

.card-border {
    background: linear-gradient(90deg, #ACC2CD 0%, #566167 49.57%, #ACC2CD 99.68%);
    width: 820px;
    height: 1px;
}

.my-position {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.my-position h4 {
    color: var(--Gray-scale-900, #4C5863);
    font-family: Outfit;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.my-position li {
    list-style: disc;
    color: var(--Gray-scale-900, #4C5863);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}

.experience-year p {
    color: var(--Gray-scale-900, #4C5863);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}


/* DESINING-SKILLS SECTION START */


.heading-border {
    height: 1px;
    width: 100%;
    background: linear-gradient(90deg, #ACC2CD 0%, #566167 49.57%, #ACC2CD 99.68%);
}

/* .desining-skills h2 {
    width: 100%;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(90deg, #ACC2CD 0%, #566167 49.57%, #ACC2CD 99.68%);
    border-image-slice: 1;
    padding-bottom: 16px;
} */

.card-content {
    display: flex;
    /* padding: 0px 48px; */
    flex-direction: column;
    align-items: center;
    gap: 48px;
    align-self: stretch;
}

.desining-skills {
    display: flex;
    padding: 64px 120px;
    flex-direction: column;
    gap: 64px;
}

.skills-cards-row-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 48px;
}

.skills-cards-row-2 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 48px;
}

.card-1 {
    background: var(--Complementary-purple-200, #F5D4FA);
}

.card-2 {
    background: var(--Primary-blue-200, #B5ECFF);
}

.card-3 {
    background: var(--Complementary-green-200, #B6FDB5);
}

.card-4 {
    background: var(--Complementary-brown-200, #FFF889);
}

.card-5 {
    background: var(--Gray-scale-200, #DBE6EA);
}

.skill-card {
    border-radius: 12px;
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.skill-card li {
    color: #4C5863;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

/* DESINING-SKILLS SECTION END */



/* DESINING TOOLS SECTION START */

.desining-tools {
    background-color: #EBF2F4;
    display: flex;
    padding: 64px 120px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.tool-cards {
    display: flex;
    padding: 20px 120px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.tool-names {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* DESINING TOOLS SECTION END */



/* MY HOBBIES SECTION START */

.my-hobbies {
    display: flex;
    padding: 64px 120px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
}

.hobbies-content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.my-hobbies h3 {
    color: var(--Black, #070707);
    font-size: 40px;
    font-weight: 400;
    line-height: 120%;
}

.text-content h5 {
    color: var(--Gray-scale-950, #2C333A);
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;
}

.text-content h5 a {
    color: #0861C5;
    text-decoration: none;
}

.hobbies-names p {
    color: var(--Gray-scale-900, #4C5863);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.hobbies-names {
    display: flex;
    align-items: cneter;
    gap: 12px;
}

.hobbies-names i>svg {
    width: 32px;
    height: 32px;
}

/* MY HOBBIES SECTION END */





/* EXPERIMENTS-PAGE  CSS START */


.experiment-banner {
    background: var(--Gray-scale-200, #DBE6EA);
    display: block;
}

.experiment-content {
    padding: 80px 0px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--espacements-24, 24px);
}

.experiment-content h2 {
    color: var(--Gray-scale-950, #2C333A);
    text-align: center;
    /* font-size: 40px;
    font-weight: 400; */
    line-height: 120%;
}

.experiment-content h4 {
    color: var(--Gray-scale-900, #4C5863);
    font-family: Outfit;
    font-size: 28px;
    font-weight: 400;
    line-height: 120%;
}